[Unit]
Description=Run Git pull and dependent chain periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=pull-from-git.service

[Install]
WantedBy=timers.target