[Unit]
Description=Update config from git and reload services if changed
After=network.target

[Service]
User=pi
Type=oneshot
ExecStart=/home/pi/kaimas/git-pull.sh