[Unit]
Description=Read DHT sensor and write humidity to /tmp/humidity.json and /home/pi/node_exporter/humidity.prom

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/kaimas/humidity_cli.py