[Unit]
Description=Pull latest code from Git repository

[Service]
User=pi
Type=oneshot
ExecStart=/home/pi/kaimas/git-pull.sh

[Install]
WantedBy=multi-user.target